<div class="container d-flex flex-column align-items-center justify-content-center">
  <h3>{{'room.title' | translate}}</h3>
  <form [formGroup]="form" class="d-flex flex-column align-items-center justify-content-center" (submit)="createRoom()">
    <game-input id="name" formControlName="name">{{'room.name' | translate}}</game-input>
    <game-input id="maxParts" formControlName="maxPartecipants" type="number">{{'room.maxPlayers' | translate}}
    </game-input>
    <game-button type="submit" [disabled]="!form.valid">{{'room.newMatch'|translate}}</game-button>
  </form>
</div>