<div class="container d-flex flex-column align-items-center justify-content-center">
  <h1>The Bomb</h1>
  <h3>Crea nuova stanza</h3>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="name">Nome stanza</label>
      <input type="text" class="form-control" id="name" formControlName="name" />
    </div>
    <div class="form-group">
      <label for="maxParts">Numero massimo di partecipanti</label>
      <input type="number" class="form-control" id="maxParts" formControlName="maxPartecipants" />
    </div>
  </form>
  <button class="btn btn-primary" (click)="createRoom()">Nuova partita</button>
</div>