@import "../../../../assets/styles/variables";

h1 {
  font-size: 8vw;
  color: white;
  margin-bottom: -18px;
  margin-left: -70px;
  z-index: 10;
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 72px;
  }
}

.page-content {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  background: $background;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

.game-box {
  border: 5px solid rgba($background-secondary, 0.3);
  background: $background-secondary;
  background-clip: padding-box;
  border-radius: 20px;
  overflow: visible;
  box-sizing: border-box;
  position: relative;
  padding: 30px 20px;
  min-width: 380px;
  z-index: initial;
}

.playing {
  box-shadow: 0 0 17px $accent;
  animation: pulsate 1s ease-out infinite;
}

@-webkit-keyframes pulsate {
  0% {
    box-shadow: 0 0 0 $accent;
  }
  50% {
    box-shadow: 0 0 17px $accent;
  }
  100% {
    box-shadow: 0 0 0 $accent;
  }
}

.bomb {
  position: absolute;
  left: 150px;
  width: 300px;
  height: 300px;
  top: -120px;
  z-index: -1;
}

.animate__animated.animate__heartBeat {
  --animate-duration: 2s;
}

.exp {
  position: absolute;
  left: 120px;
  width: 500px;
  height: 500px;
  top: -160px;
  z-index: -1;
}
