<div class="d-flex flex-row justify-content-center align-items-center control-bar">
  <button class="shortcut-btn" (click)="goToHome()" tooltip="{{'shortcuts.home' | translate}}">
    <fa-icon [icon]="faHome"></fa-icon>
  </button>
  <button class="shortcut-btn" *ngIf="(settings$ | async) as settings" tooltip="{{'shortcuts.sounds' | translate}}"
    (click)="toggleSetting('sounds', !settings.sounds)">
    <fa-icon [icon]="settings.sounds ? faVolumeOn : faVolumeOff"></fa-icon>
  </button>
  <button class="shortcut-btn" tooltip="{{'shortcuts.share'|translate}}" (click)="copyUrl()">
    <fa-icon [icon]="faShare"></fa-icon>
  </button>
  <button class="shortcut-btn" tooltip="{{'shortcuts.info' | translate}}" (click)="openInfo()">
    <fa-icon [icon]="faInfo"></fa-icon>
  </button>
  <button class="shortcut-btn" tooltip="{{'shortcuts.language' | translate}}" (click)="changeLang()">
    <fa-icon [icon]="faLang"></fa-icon>
  </button>
</div>