<div class="d-flex flex-row justify-content-center align-items-center control-bar">
  <button class="shortcut-btn" (click)="goToHome()" tooltip="Esci e torna alla home">
    <fa-icon [icon]="faHome"></fa-icon>
  </button>
  <button class="shortcut-btn" *ngIf="(settings$ | async) as settings" tooltip="Suoni"
    (click)="toggleSetting('sounds', !settings.sounds)">
    <fa-icon [icon]="settings.sounds ? faVolumeOn : faVolumeOff"></fa-icon>
  </button>
  <button class="shortcut-btn" tooltip="Manuale" (click)="openInfo()">
    <fa-icon [icon]="faInfo"></fa-icon>
  </button>
  <button class="shortcut-btn" tooltip="Copia e condividi" (click)="copyUrl()">
    <fa-icon [icon]="faShare"></fa-icon>
  </button>
</div>