@import "../../../../assets/styles/variables";

.game-link {
  color: white;
  background: rgba($accent, 0.3);
  padding: 15px 25px;
  border-radius: 50px;
  cursor: pointer;
  transition: all ease-in-out 120ms;
  font-weight: 300;
}

.game-link:hover {
  color: white;
  transform: scale(0.95);
}

.game-link:active {
  transform: scale(0.7);
}

.roomate {
  position: relative;
  margin: 10px;

  img {
    max-width: 70px;
  }
  .info {
    position: absolute;
    top: 0;
    right: 0;
  }
  p {
    font-size: 10px;
    margin: 0;
    padding: 0;
  }
}

.scrollable {
  padding: 0 10px;
}