img.transition {
  transition: all 300ms ease-in-out;
}

.change-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 28px;
  color: white;
}

div.cursor-pointer {
  transition: all 80ms ease-in-out;
}

div.cursor-pointer:hover {
  transform: scale(1.1);
}

div.cursor-pointer:active {
  transform: scale(0.9);
}
