<div class="container d-flex flex-column align-items-center justify-content-center text-center">
  <ng-container [ngSwitch]="(status$ | async)">

    <ng-container *ngSwitchCase="'LOADING'">
      <p>Attesa caricamento gioco...</p>
    </ng-container>

    <ng-container *ngSwitchCase="'PLAYING'">
      <p>Gioco partito!</p>
    </ng-container>

    <ng-container *ngSwitchCase="'ROUND_STARTED'">
      <p>Sillaba: <strong>{{(currentRound$ | async).syllable}}</strong></p>
      <p>Posizione: <strong>{{(currentRound$ | async).dice}}
          {{('position' + (currentRound$ | async).dice | translate)}}</strong></p>
      <div *ngIf="(currentPartecipant$ | async).id === (currentRound$ | async).currentPartecipantId else notPlaying">
        <form (submit)="sendResponse()" [formGroup]="form" class="form-group">
          <p>Tuo turno! Inserisci la parola corrispondente</p>
          <game-input type="text" formControlName="response"></game-input>
          <game-button type="submit">Invia</game-button>
        </form>
      </div>
      <ng-template #notPlaying>
        <p>Sta giocando {{getRoomate(roomates$ | async, (currentRound$ | async).currentPartecipantId).name}}...</p>
      </ng-template>
    </ng-container>

    <ng-container *ngSwitchCase="'ROUND_ENDED'">
      <p>Round concluso</p>
      <p>Ha perso: <strong>{{getRoomate(roomates$ | async, (currentRound$ | async).currentPartecipantId).name}}</strong>
      </p>
    </ng-container>

    <ng-container *ngSwitchCase="'END'">
      <p>Partita finita!</p>
      <p>Statistiche...</p>
    </ng-container>

  </ng-container>
</div>

<div class="position-absolute top-0 right-0">
  Debug info:
  <code>{{(currentRound$ | async | json)}}</code>
</div>