@import "../../../../assets/styles/variables";

:host {
  z-index: initial;
}

.container {
  max-height: 350px;
}

.syllable-container {
  position: relative;
  text-align: center;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  background: $accent;
  margin-bottom: 15px 0;

  .syllable {
    font-size: 60px;
    -webkit-text-fill-color: $background; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: wnite;
  }
  .position {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }
}

.not-playing {
  font-weight: 200;
  margin-top: 20px;
}

.score {
  position: absolute;
  top: 10px;
  left: 0;
  background: #D66853;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  border: 2px solid rgba(214, 104, 83, 0.3);
  text-align: center;
}