<div class="container d-flex flex-column align-items-center justify-content-center text-center">
  <ng-container [ngSwitch]="(status$ | async)">

    <ng-container *ngSwitchCase="'LOADING'">
      <p>{{'game.loading' | translate}}</p>
    </ng-container>

    <ng-container *ngSwitchCase="'PLAYING'">
      <p>{{'game.started' | translate }}</p>
    </ng-container>

    <ng-container *ngSwitchCase="'ROUND_STARTED'">
      <div class="syllable-container">
        <p class="syllable game-font-1">{{(currentRound$ | async).syllable}}</p>
        <p class="position">
          {{('position.' + (currentRound$ | async).dice | translate)}}</p>
      </div>
      <div *ngIf="(currentPartecipant$ | async).id === (currentRound$ | async).currentPartecipantId else notPlaying">
        <form (submit)="sendResponse()" [formGroup]="form" class="form-group">
          <game-input type="text" formControlName="response">{{'game.yourTurn' | translate}}</game-input>
          <game-button type="submit">{{'game.send' | translate}}</game-button>
        </form>
      </div>
      <ng-template #notPlaying>
        <p class="not-playing">{{'game.playing' | translate}} {{getRoomate(roomates$ | async, (currentRound$ |
          async)?.currentPartecipantId)?.name}}...</p>
      </ng-template>
    </ng-container>

    <ng-container *ngSwitchCase="'ROUND_ENDED'">
      <p>{{'game.roundEnded' | translate}}</p>
      <p>{{'game.lost' | translate}} <strong>{{getRoomate(roomates$ | async, (currentRound$ |
          async).currentPartecipantId).name}}</strong>
      </p>
    </ng-container>

    <ng-container *ngSwitchCase="'END'">
      <p>{{'game.end' | translate}}</p>
      <div class="text-left scrollable w-100 p-2">
        <p>{{'game.results' | translate}}</p>
        <div class="d-flex flex-row align-items-center justify-content-start position-relative"
          *ngFor="let stat of (stats$ | async); let i = index;">
          <span class="score">{{i+1}}</span>
          <game-avatar size="6" [changable]="false" [ngModel]="stat.avatarSeed" class="my-1"></game-avatar>
          <div class="d-flex flex-column">
            <p class="m-0 p-0">{{stat.name}} {{(currentPartecipant$ | async).id === stat.id ? '(Tu)' : ''}}</p>
            <p class="m-0 p-0 font-weight-lighter">{{'game.lostRounds' | translate}} {{stat.lostRounds}}</p>
          </div>
        </div>
      </div>
      <div class="d-flex flex-wrap flex-row my-2">
        <game-button (click)="recallWaitingRoom()">{{'game.newMatch' | translate}}</game-button>
        <game-button (click)="backHome()">{{'game.leave' | translate }}</game-button>
      </div>
    </ng-container>

  </ng-container>
</div>