<div class="container d-flex flex-column align-items-center justify-content-center">
  <form [formGroup]="form" class="d-flex flex-column align-items-center justify-content-center"
    (submit)="createPartecipant()">
    <game-avatar formControlName="avatarSeed"></game-avatar>
    <game-input id="username" formControlName="name">
      {{'home.playerName' | translate}}
    </game-input>
    <div class="d-flex flex-row text-center flex-wrap">
      <game-button [disabled]="!form.valid" type="submit">{{'home.newRoom' | translate}}</game-button>
      <game-button routerLink="/join" [replaceUrl]="true">{{'home.join' | translate}}</game-button>
    </div>
  </form>
</div>